.vdp-datepicker input[readonly] {
  background-color: #fff;
}

.sidenav {
  position: sticky;
  left: 0;
  top: 0;
}
.breadcrumb {
  background-color: #fff;
  position: sticky;
  left: 0;
  top: 0;
}
