service cloud.firestore {
  match /databases/{database}/documents {
    match /articles/{articleID} {
      allow read: if true;
      allow write: if request.auth.uid != null;
    }
    match /rooms/{roomID} {
      allow read: if true;
      allow write: if request.auth.uid != null;
    }
    match /tenants/{tenantID} {
      allow read, write: if request.auth.uid != null;
    }
    match /receipts/{receiptID} {
      allow read, write: if request.auth.uid != null;
    }
  }
}
