<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>テスト用</h1>

  <!--
    シンプルなコンポーネント定義
  -->
  <x-simple>
    hello world!
  </x-simple>

  <!-- サイドメニュー -->
  <div>
    <x-sidenav>
      <span>hoge</span>
    </x-sidenav>
  </div>

  <!--
    アコーディオン
    ヘッダーにしたい要素には slot="header" 属性をつけてください
  -->
  <div>
    <x-accordion>
      <div slot="header">ヘッダー</div>
      <div>hoge</div>
      <div>fuga</div>
      <div>piyo</div>
    </x-accordion>
  </div>
</body>
</html>
