html, body {
  width: 100%;
  height: 100%;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  letter-spacing: .1rem;
  line-height: 1.75;
  -webkit-text-size-adjust: 100%;
  font-feature-settings: "palt";
  * {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", sans-serif;
    -webkit-font-smoothing: antialiased;
  }
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  ::i-block-chrome,
  body {
    font-feature-settings: "pkna";
  }
}

/* theme */
a {
  text-decoration: none;
  color: #1565C0;
  font-weight: bold;
}

/* app */
.app {
  min-height: 100vh;
  display: grid;
  grid-template:
    " header header" 80px
    " nav    main  " 1fr
    " nav    footer" 100px
    / 250px  1fr;
  .app--header {
    grid-area: header;
    margin: 0px;
    padding: 20px 0 5px 15px;
    border: 2px solid #eee;
    .app--header--title {
      line-height: calc(80px - 20px * 2 - 2px);
      font: 25px normal;
      color: #666;
    }
  }
  .app--nav {
    grid-area: nav;
    .app--nav--list {
      .app--nav--list--link {
        a {
          display: block;
          padding: 15px;
          &:hover {
            background-color: #eee;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .app {
    display: block;
  }
}

/* button */
.btn {
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.7rem;
  background-color: #ddd;
  color: #444;
  &:hover {
    background-color: #ccc;
  }
}

.input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  background-color: #f8f8f8;
  font-size: 1.7rem;
  line-height: 2rem;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 5px;
  color: #444;
  -webkit-appearance: none;
  -moz-appearance: none;

  &.input__readonly,
  &[readonly] {
    border: 2px solid transparent;
    background-color: #f8f8f8;
  }
}

.input-item__flex {
  display: flex;
  justify-content: space-around;
  margin-left: -15px;
}
.input-item--group {
  flex-grow: 1;
  margin-left: 15px;
}

.badge-tag {
  background-color: #808080;
  padding: 3px 6px;
  font-size: 16px;
  font-size: 1rem;
  font-weight: normal;
  border-radius: 5px;
  color: #fff;

  &.badge-tag__red {
    background-color: #F44336;
  }
  &.badge-tag__yellow {
    background-color: #FF9800;
  }
  &.badge-tag__green {
    background-color: #009688;
  }
  &.badge-tag__large {
    padding: 3px 6px;
    font-size: 1.6rem;
    font-weight: bold;
  }
}

.form-group {
  display: flex;
  .input {
    width: auto;
    flex-grow: 1;
  }
}
