{{- define "title" -}} 管理画面 {{- end -}}

{{- define "head" -}}
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
{{ end -}}

{{- define "body" -}}
  <div id="app"></div>
{{ end -}}

{{- define "footerScript" -}}
  <script src="/admin/public/app.js"></script>
{{ end -}}
