{{- define "title" -}} ログイン {{- end -}}

{{- define "body" -}}
  <form action="/admin/login" method="post">
    <input type="text" name="login" value="">
    <input type="password" name="password">
    <button>ログイン</button>
  </form>
{{ end -}}
