{{- define "base" -}}
<!doctype html>
<html>
<head>
  <title>{{ block "title" . }}{{ end }}</title>
  {{- block "head" . }}{{ end }}
</head>
<body>
  {{- block "body" . -}}
    <header>
      {{- block "header" . -}}
      {{- end -}}
    </header>
    <main>
      {{- block "main" . -}}
      {{- end -}}
    </main>
    <footer>
      {{- block "footer" . -}}
      {{- end -}}
    </footer>
  {{ end -}}
  {{- block "footerScript" . -}}
  {{- end -}}
</body>
</html>
{{ end -}}
